.registration-form,
.registration-form * {
  box-sizing: border-box;
}
.registration-form {
  background: #f9faff;
  width: 1440px;
  height: 1018px;
  position: relative;
  overflow: hidden;
}
.notification {
  opacity: 0.30000001192092896;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.group-8 {
  position: absolute;
  inset: 0;
}
.rectangle-2 {
  background: #ffffff;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  width: 850px;
  height: 1047px;
  position: absolute;
  left: -149px;
  top: -23px;
  box-shadow: 40px 0px 40px 0px rgba(0, 0, 0, 0.02);
}
.payments {
  color: #dea27d;
  text-align: center;
  font: 400 14px/28px "Poppins", sans-serif;
  position: absolute;
  left: 563px;
  top: calc(50% - 425px);
  width: 180px;
  height: 33px;
}
.vector {
  position: absolute;
  left: 735px;
  top: 85px;
  overflow: visible;
}
.payments2 {
  color: #333333;
  text-align: left;
  font: 400 12px/28px "Poppins", sans-serif;
  opacity: 0.3400000035762787;
  position: absolute;
  left: 257px;
  top: calc(50% - 24px);
  width: 236px;
  height: 25px;
}
.group-10 {
  position: absolute;
  inset: 0;
}
.group-6 {
  width: 102px;
  height: 48px;
  position: static;
}
.group-7 {
  width: 102px;
  height: 48px;
  position: static;
}
.rectangle-3 {
  background: #73b1de;
  width: 102px;
  height: 48px;
  position: absolute;
  left: 649px;
  top: 892px;
}
.payments3 {
  color: #ffffff;
  text-align: center;
  font: 700 14px/28px "Roboto", sans-serif;
  position: absolute;
  left: 656.14px;
  top: calc(50% - -398px);
  width: 87.72px;
  height: 33px;
}
.group-12 {
  width: 361px;
  height: 73px;
  position: static;
}
.group-102 {
  width: 236px;
  height: 25px;
  position: static;
}
.payments4 {
  text-align: left;
  font: 400 12px/28px "Poppins", sans-serif;
  position: absolute;
  left: 107px;
  top: calc(50% - 124px);
  width: 236px;
  height: 25px;
}
.payments-4-span {
  color: #333333;
  font: 400 12px/28px "Poppins", sans-serif;
}
.payments-4-span2 {
  color: #ff0000;
  font: 400 12px/28px "Poppins", sans-serif;
}
.group-11 {
  width: 361px;
  height: 48px;
  position: static;
}
.rectangle-32 {
  background: #ffffff;
  border-style: solid;
  border-color: #d1d1d1;
  border-width: 1px;
  width: 300px;
  height: 48px;
  position: absolute;
  left: 107px;
  top: 410px;
}
.payments5 {
  color: #000000;
  text-align: left;
  font: 400 14px/28px "Poppins", sans-serif;
  opacity: 0.4000000059604645;
  position: absolute;
  left: 124px;
  top: calc(50% - 84px);
  width: 344px;
  height: 33px;
}
.vector2 {
  opacity: 0.10000000149011612;
  position: absolute;
  left: 390px;
  top: 385px;
  overflow: visible;
}
.group-15 {
  width: 361px;
  height: 73px;
  position: static;
}
.payments6 {
  text-align: left;
  font: 400 12px/28px "Poppins", sans-serif;
  position: absolute;
  left: 451px;
  top: calc(50% - 124px);
  width: 236px;
  height: 25px;
}
.payments-6-span {
  color: #333333;
  font: 400 12px/28px "Poppins", sans-serif;
}
.payments-6-span2 {
  color: #ff0000;
  font: 400 12px/28px "Poppins", sans-serif;
}
.rectangle-33 {
  background: #ffffff;
  border-style: solid;
  border-color: #d1d1d1;
  border-width: 1px;
  width: 300px;
  height: 48px;
  position: absolute;
  left: 451px;
  top: 410px;
}
.payments7 {
  color: #000000;
  text-align: left;
  font: 400 14px/28px "Poppins", sans-serif;
  opacity: 0.4000000059604645;
  position: absolute;
  left: 468px;
  top: calc(50% - 84px);
  width: 344px;
  height: 33px;
}
.vector3 {
  opacity: 0.10000000149011612;
  position: absolute;
  left: 734px;
  top: 385px;
  overflow: visible;
}
.group-18 {
  width: 300px;
  height: 73px;
  position: static;
}
.payments8 {
  text-align: left;
  font: 400 12px/28px "Poppins", sans-serif;
  position: absolute;
  left: 107px;
  top: calc(50% - -237px);
  width: 236px;
  height: 25px;
}
.payments-8-span {
  color: #333333;
  font: 400 12px/28px "Poppins", sans-serif;
}
.payments-8-span2 {
  color: #ff0000;
  font: 400 12px/28px "Poppins", sans-serif;
}
.group-112 {
  width: 300px;
  height: 48px;
  position: static;
}
.rectangle-34 {
  background: #ffffff;
  border-style: solid;
  border-color: #d1d1d1;
  border-width: 1px;
  width: 300px;
  height: 48px;
  position: absolute;
  left: 107px;
  top: 771px;
}
.vector4 {
  opacity: 0.10000000149011612;
  position: absolute;
  left: 390px;
  top: 746px;
  overflow: visible;
}
.group-19 {
  width: 300px;
  height: 73px;
  position: static;
}
.payments9 {
  color: #333333;
  text-align: left;
  font: 400 12px/28px "Poppins", sans-serif;
  position: absolute;
  left: 451px;
  top: calc(50% - -237px);
  width: 236px;
  height: 25px;
}
.rectangle-35 {
  background: #ffffff;
  border-style: solid;
  border-color: #d1d1d1;
  border-width: 1px;
  width: 300px;
  height: 48px;
  position: absolute;
  left: 451px;
  top: 771px;
}
.vector5 {
  opacity: 0.10000000149011612;
  position: absolute;
  left: 734px;
  top: 746px;
  overflow: visible;
}
.group-13 {
  width: 361px;
  height: 73px;
  position: static;
}
.payments10 {
  color: #333333;
  text-align: left;
  font: 400 12px/28px "Poppins", sans-serif;
  position: absolute;
  left: 107px;
  top: calc(50% - 24px);
  width: 236px;
  height: 25px;
}
.rectangle-36 {
  background: #ffffff;
  border-style: solid;
  border-color: #d1d1d1;
  border-width: 1px;
  width: 300px;
  height: 48px;
  position: absolute;
  left: 107px;
  top: 510px;
}
.payments11 {
  color: #000000;
  text-align: left;
  font: 400 14px/28px "Poppins", sans-serif;
  opacity: 0.4000000059604645;
  position: absolute;
  left: 124px;
  top: calc(50% - -16px);
  width: 344px;
  height: 33px;
}
.vector6 {
  opacity: 0.10000000149011612;
  position: absolute;
  left: 390px;
  top: 485px;
  overflow: visible;
}
.group-14 {
  width: 361px;
  height: 74px;
  position: static;
}
.payments12 {
  text-align: left;
  font: 400 12px/28px "Poppins", sans-serif;
  position: absolute;
  left: 453px;
  top: calc(50% - 25px);
  width: 236px;
  height: 25px;
}
.payments-12-span {
  color: #333333;
  font: 400 12px/28px "Poppins", sans-serif;
}
.payments-12-span2 {
  color: #ff0000;
  font: 400 12px/28px "Poppins", sans-serif;
}
.rectangle-37 {
  background: #ffffff;
  border-style: solid;
  border-color: #d1d1d1;
  border-width: 1px;
  width: 300px;
  height: 48px;
  position: absolute;
  left: 451px;
  top: 510px;
}
.payments13 {
  color: #000000;
  text-align: left;
  font: 400 14px/28px "Poppins", sans-serif;
  opacity: 0.4000000059604645;
  position: absolute;
  left: 468px;
  top: calc(50% - -16px);
  width: 344px;
  height: 33px;
}
.vector7 {
  opacity: 0.10000000149011612;
  position: absolute;
  left: 734px;
  top: 485px;
  overflow: visible;
}
.group-16 {
  width: 299px;
  height: 75px;
  position: static;
}
.payments14 {
  color: #333333;
  text-align: left;
  font: 400 12px/28px "Poppins", sans-serif;
  position: absolute;
  left: 107px;
  top: calc(50% - -88px);
  width: 236px;
  height: 25px;
}
.group-113 {
  width: 299px;
  height: 50px;
  position: static;
}
.group-182 {
  width: 68.1px;
  height: 48px;
  position: static;
}
.rectangle-38 {
  background: #ffffff;
  border-style: solid;
  border-color: #d1d1d1;
  border-width: 1px;
  width: 68.1px;
  height: 48px;
  position: absolute;
  left: 107px;
  top: 622px;
}
.payments15 {
  color: #000000;
  text-align: center;
  font: 400 14px/28px "Poppins", sans-serif;
  opacity: 0.5;
  position: absolute;
  left: 107px;
  top: calc(50% - -128px);
  width: 68.1px;
  height: 33px;
}
.group-192 {
  width: 68.1px;
  height: 48px;
  position: static;
}
.rectangle-39 {
  background: #ffffff;
  border-style: solid;
  border-color: #d1d1d1;
  border-width: 1px;
  width: 68.1px;
  height: 48px;
  position: absolute;
  left: 183.97px;
  top: 622px;
}
.payments16 {
  color: #000000;
  text-align: center;
  font: 400 14px/28px "Poppins", sans-serif;
  opacity: 0.5;
  position: absolute;
  left: 183.97px;
  top: calc(50% - -128px);
  width: 68.1px;
  height: 33px;
}
.group-20 {
  width: 68.16px;
  height: 50px;
  position: static;
}
.rectangle-310 {
  background: #ffffff;
  border-style: solid;
  border-color: #73b1de;
  border-width: 1px;
  width: 68.1px;
  height: 48px;
  position: absolute;
  left: 260.94px;
  top: 622px;
  box-shadow: 0px 0px 14px 0px rgba(71, 67, 224, 0.2);
}
.payments17 {
  color: #73b1de;
  text-align: center;
  font: 400 10px/28px "Poppins", sans-serif;
  position: absolute;
  left: 261px;
  top: calc(50% - -130px);
  width: 68.1px;
  height: 33px;
}
.group-21 {
  width: 68.1px;
  height: 48px;
  position: static;
}
.rectangle-311 {
  background: #ffffff;
  border-style: solid;
  border-color: #d1d1d1;
  border-width: 1px;
  width: 68.1px;
  height: 48px;
  position: absolute;
  left: 337.9px;
  top: 622px;
}
.payments18 {
  color: #000000;
  text-align: center;
  font: 400 14px/28px "Poppins", sans-serif;
  opacity: 0.5;
  position: absolute;
  left: 337.9px;
  top: calc(50% - -128px);
  width: 68.1px;
  height: 33px;
}
.vector8 {
  opacity: 0.10000000149011612;
  position: absolute;
  left: 390px;
  top: 597px;
  overflow: visible;
}
.group-17 {
  width: 449px;
  height: 73px;
  position: static;
}
.payments19 {
  text-align: left;
  font: 400 12px/28px "Poppins", sans-serif;
  position: absolute;
  left: 451px;
  top: calc(50% - -88px);
  width: 236px;
  height: 25px;
}
.payments-19-span {
  color: #333333;
  font: 400 12px/28px "Poppins", sans-serif;
}
.payments-19-span2 {
  color: #ff0000;
  font: 400 12px/28px "Poppins", sans-serif;
}
.group-114 {
  width: 449px;
  height: 48px;
  position: static;
}
.rectangle-312 {
  background: #ffffff;
  border-style: solid;
  border-color: #d1d1d1;
  border-width: 1px;
  width: 300px;
  height: 48px;
  position: absolute;
  left: 451px;
  top: 622px;
}
.payments20 {
  color: #000000;
  text-align: left;
  font: 400 14px/28px "Roboto", sans-serif;
  opacity: 0.4000000059604645;
  position: absolute;
  left: 468px;
  top: calc(50% - -128px);
  width: 55px;
  height: 33px;
}
.payments21 {
  color: #000000;
  text-align: left;
  font: 400 14px/28px "Roboto", sans-serif;
  opacity: 0.4000000059604645;
  position: absolute;
  left: 556px;
  top: calc(50% - -128px);
  width: 344px;
  height: 33px;
}
.vector9 {
  opacity: 0.10000000149011612;
  position: absolute;
  left: 734px;
  top: 597px;
  overflow: visible;
}
.line-4 {
  border-style: dashed;
  border-color: #000000;
  border-width: 1px 0 0 0;
  opacity: 0.20000000298023224;
  width: 645px;
  height: 0px;
  position: absolute;
  left: 106px;
  top: 708px;
}
.line-6 {
  border-style: dashed;
  border-color: #000000;
  border-width: 1px 0 0 0;
  opacity: 0.20000000298023224;
  width: 645px;
  height: 0px;
  position: absolute;
  left: 106px;
  top: 861px;
}
.rectangle-313 {
  background: #ffffff;
  border-style: solid;
  border-color: #d1d1d1;
  border-width: 1px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 110px;
  top: 907px;
}
.line-7 {
  border-style: dashed;
  border-color: #000000;
  border-width: 1px 0 0 0;
  opacity: 0.20000000298023224;
  width: 645px;
  height: 0px;
  position: absolute;
  left: 106px;
  top: 343px;
}
.line-5 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  opacity: 0.20000000298023224;
  width: 48px;
  height: 0px;
  position: absolute;
  left: 536px;
  top: 622px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.vector10 {
  opacity: 0.20000000298023224;
  position: absolute;
  left: 510px;
  top: 643px;
  overflow: visible;
}
.mathew-john {
  color: #42505c;
  text-align: left;
  font: 700 54px/68px "Poppins", sans-serif;
  position: absolute;
  left: 106px;
  top: calc(50% - 375px);
  width: 327px;
  height: 167px;
}
.payments22 {
  color: #000000;
  text-align: left;
  font: 400 14px/28px "Poppins", sans-serif;
  opacity: 0.4000000059604645;
  position: absolute;
  left: 122px;
  top: calc(50% - -277px);
  width: 344px;
  height: 33px;
}
.setup-wizard-rafiki-1 {
  width: 826px;
  height: 826px;
  position: absolute;
  left: 701px;
  top: 184px;
}
