.main-page,
.main-page * {
  box-sizing: border-box;
}
.main-page {
  background: #3d3d3c;
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.shapes {
  width: 1440px;
  height: 924px;
  position: absolute;
  left: 0px;
  top: 100px;
}
.front {
  position: absolute;
  inset: 0;
}
.pannel {
  width: 648px;
  height: 752px;
  position: static;
}
.pannel-3 {
  width: 648px;
  height: 371.64px;
  position: static;
}
.rectangle-16 {
  border-radius: 0px;
  position: absolute;
  left: 752px;
  top: 566.36px;
  overflow: visible;
}
._2-04-01 {
  width: 470px;
  height: 317px;
  position: absolute;
  left: 930px;
  top: 621px;
}
.faq-support {
  color: #3d3d3c;
  text-align: left;
  font: 700 48px/61px "Nunito", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 774px;
  top: 575px;
  width: 247px;
  height: 118px;
}
.pannel-2 {
  width: 318.27px;
  height: 371.64px;
  position: static;
}
.rectangle-15 {
  border-radius: 0px;
  position: absolute;
  left: 1081.73px;
  top: 186px;
  overflow: visible;
}
.subtitle {
  color: #ffffff;
  text-align: left;
  font: 700 48px/61px "Nunito", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 1100.85px;
  top: calc(50% - 317.29px);
  width: 247.54px;
  height: 177.11px;
}
._2-04-012 {
  width: 318.27px;
  height: 214.86px;
  position: absolute;
  left: 1081.73px;
  top: 342.79px;
}
.pannel-1 {
  width: 319.22px;
  height: 371.64px;
  position: static;
}
.rectangle-152 {
  border-radius: 0px;
  position: absolute;
  left: 752px;
  top: 186px;
  overflow: visible;
}
._2-08-01 {
  width: 319.22px;
  height: 208.08px;
  position: absolute;
  left: 752px;
  top: 349.56px;
}
.check-my-score {
  color: #ffffff;
  text-align: left;
  font: 700 48px/61px "Nunito", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 773.98px;
  top: 194.71px;
  width: 172.99px;
  height: 177.11px;
}
.head {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 673px;
  height: 752px;
  position: absolute;
  left: 39px;
  top: calc(50% - 326px);
}
.find-your-perfect-roommate {
  text-align: left;
  font: 800 128px "Nunito", sans-serif;
  position: relative;
  width: 673px;
}
.find-your-perfect-roommate-span {
  color: #ffffff;
  font: 800 128px "Nunito", sans-serif;
}
.find-your-perfect-roommate-span2 {
  color: #fce76c;
  font: 800 128px "Nunito", sans-serif;
}
.find-your-perfect-roommate-span3 {
  color: rgba(53, 255, 158, 0.45);
  font: 800 128px "Nunito", sans-serif;
}
.find-your-perfect-roommate-span4 {
  color: #ffffff;
  font: 800 128px "Nunito", sans-serif;
}
.header {
  background: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0px 0px 2px 0px;
  width: 1440px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.rigth-menu {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -0.22px;
  top: calc(50% - 20px);
}
.find {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.rectangle-17 {
  border-radius: 0px;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.search {
  flex-shrink: 0;
  position: absolute;
  left: 21px;
  top: 11px;
  overflow: visible;
}
.find-your-tenant {
  color: #ffffff;
  text-align: left;
  font: 200 14px "Montserrat", sans-serif;
  position: absolute;
  left: 53.6px;
  top: 13px;
  width: 133.33px;
  height: 16px;
}
.rent {
  color: #ffffff;
  text-align: center;
  font: 400 20px "Montserrat", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-in {
  color: #ffffff;
  text-align: center;
  font: 400 20px "Montserrat", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-3 {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 26px;
}
.logo {
  flex-shrink: 0;
  position: relative;
  transform: translate(-50.01px, -38.82px);
  overflow: visible;
}
.co-z {
  color: #ffffff;
  text-align: left;
  font: 200 40px "Montserrat", sans-serif;
  position: relative;
}
