.registration,
.registration * {
  box-sizing: border-box;
}
.registration {
  background: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.group-55 {
  position: absolute;
  inset: 0;
}
.group-54 {
  width: 800px;
  height: 1024px;
  position: static;
}
.rectangle-11 {
  width: 800px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 7px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.group-53 {
  width: 619px;
  height: 883px;
  position: static;
}
.frame-3 {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 45px;
  top: 106px;
}
.logo {
  flex-shrink: 0;
  position: relative;
  transform: translate(-50.01px, -38.82px);
  overflow: visible;
}
.co-z {
  color: #ffffff;
  text-align: left;
  font: 200 40px "Montserrat", sans-serif;
  position: relative;
}
.co-z-is-the-best-place-to-find-a-place-to-stay-and-meet-new-people-we-ve-been-super-impress-by-the-quality-of-customer-s-feedback {
  color: #ffffff;
  text-align: left;
  font: 500 32px "Poppins", sans-serif;
  position: absolute;
  left: 66px;
  top: 433px;
  width: 598px;
  height: 196px;
}
.group-52 {
  width: 216px;
  height: 48px;
  position: static;
}
.madhushan-sasanka {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Poppins", sans-serif;
  position: absolute;
  left: 66px;
  top: 941px;
}
.ceo-co-z-com {
  color: #ffffff;
  text-align: left;
  font: 500 16px "Poppins", sans-serif;
  position: absolute;
  left: 66.01px;
  top: 965px;
}
.group-51 {
  width: 440px;
  height: 783px;
  position: static;
}
.group-46 {
  width: 314px;
  height: 48px;
  position: static;
}
.create-an-account {
  color: #000000;
  text-align: left;
  font: 500 32px "Poppins", sans-serif;
  position: absolute;
  left: 901px;
  top: 200px;
}
.already-have-an-account-sign-in {
  text-align: left;
  position: absolute;
  left: 967px;
  top: 953px;
}
.already-have-an-account-sign-in-span {
  color: #000000;
  font: 400 16px "Poppins", sans-serif;
}
.already-have-an-account-sign-in-span2 {
  color: #000000;
  font: 600 20px "Poppins", sans-serif;
}
.already-have-an-account-sign-in-span3 {
  color: #dea27d;
  font: 500 20px "Poppins", sans-serif;
}
.group-50 {
  width: 440px;
  height: 459px;
  position: static;
}
.group-44 {
  width: 440px;
  height: 240px;
  position: static;
}
.group-43 {
  width: 440px;
  height: 60px;
  position: static;
}
.name {
  color: #000000;
  text-align: left;
  font: 400 16px "Poppins", sans-serif;
  position: absolute;
  left: 901px;
  top: 340px;
}
.line-3 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 440px;
  height: 0px;
  position: absolute;
  left: 901px;
  top: 400px;
}
.group-42 {
  width: 440px;
  height: 60px;
  position: static;
}
.email {
  color: #000000;
  text-align: left;
  font: 400 16px "Poppins", sans-serif;
  position: absolute;
  left: 901px;
  top: 430px;
}
.line-4 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 440px;
  height: 0px;
  position: absolute;
  left: 901px;
  top: 490px;
}
.group-41 {
  width: 440px;
  height: 60px;
  position: static;
}
.password {
  color: #000000;
  text-align: left;
  font: 400 16px "Poppins", sans-serif;
  position: absolute;
  left: 901px;
  top: 520px;
}
.line-42 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 440px;
  height: 0px;
  position: absolute;
  left: 901px;
  top: 580px;
}
.group-49 {
  width: 435px;
  height: 150px;
  position: static;
}
.group-45 {
  width: 435px;
  height: 65px;
  position: static;
}
.rectangle-12 {
  background: #000000;
  border-radius: 20px;
  width: 435px;
  height: 65px;
  position: absolute;
  left: 901px;
  top: 649px;
}
.create-account {
  color: #ffffff;
  text-align: left;
  font: 500 20px "Poppins", sans-serif;
  position: absolute;
  left: 1037px;
  top: 667px;
}
.group-48 {
  width: 435px;
  height: 65px;
  position: static;
}
.rectangle-122 {
  border-radius: 20px;
  border-style: solid;
  border-color: #8d8d8d;
  border-width: 1px;
  width: 435px;
  height: 65px;
  position: absolute;
  left: 901px;
  top: 734px;
}
.group-47 {
  width: 250px;
  height: 30px;
  position: static;
}
.sign-up-with-google {
  color: #000000;
  text-align: left;
  font: 500 20px "Poppins", sans-serif;
  position: absolute;
  left: 1036px;
  top: 752px;
}
.vector {
  position: absolute;
  left: 994px;
  top: 755px;
  overflow: visible;
}
.input-field {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}